<div class="card mb-3">
    <div class="row">
        <div class="col md-3">
            <img src="/static/images/<%= resim %>" class="img-fluid" alt="">
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <h5 class="card-title">
                    <a style="text-decoration: none;" href="/blogs/<%= blogid %>"><%= baslik %></a>
                </h5>
                <p class="card-text">
                     <%= aciklama  %>
                </p>
            </div>
        </div>
    </div>
</div>