<div class="list-group">
    <a href="/blogs" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
    <% categories.forEach(function(category){ %>
        <a href="/blogs/category/<%= category.id %>" 
            class="list-group-item list-group-item-action <%= selectedCategory == category.id ? "active" : "" %> ">
            <%= category.name %>
        </a>
    <% }) %>
</div>