<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container">
        <a href="/" class="navbar-brand">Blogapp</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/blogs" class="nav-link">Blog List</a>
            </li>
            <li class="nav-item">
                <a href="/admin/blogs" class="nav-link">Admin Blogs</a>
            </li>
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Admin Categories</a>
            </li>
            <li class="nav-item">
                <a href="/admin/blog/create" class="nav-link">Add Blog</a>
            </li>
            <li class="nav-item">
                <a href="/admin/category/create" class="nav-link">Add Category</a>
            </li>
        </ul>
    </div>
</nav>